.breadcrumb_padding {
    padding: 3px 0 3px 0;
}

.r {
    float: right;
}

.l {
    float: left;
}

.disabled {
    cursor: not-allowed;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
    opacity: .65;
} 