{% extends "site_base.html" %}

{% block page_header %}
    <h1>编辑模型</h1>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-8">
            <div class="box box-danger">
                <div class="box-header">
                    <h3 class="box-title">{{ category.name }}</h3>
                </div>
                <form role="form">
                    <div class="box-body">
                        {% for attr_group_name, attr_group in category.structure.items %}
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-addon">
                                        <i class="fa fa-group"></i>
                                    </div>
                                    <input type="text" class="form-control pull-right"/>
                                </div>
                            </div>
                            {% for attr_name, attr_value in attr_group.items %}
                                <div class="form-group">
                                    <label>{{ attr_name }}</label>
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <i class="fa fa-tags"></i>
                                        </div>
                                        <input type="text" class="form-control pull-right" placeholder="{{ attr_value.default }}"/>
                                    </div>
                                </div>
                            {% endfor %}

                        {% endfor %}
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
